@media only screen and (max-width: 1440px) {
  body {
    &::before {
      top: 19% !important;
    }
    &::after {
      top: 47% !important;
    }
  }
  .home {
    .header {
      &:before {
        height: 474px;
        background-position-x: 95%;
        background-position-y: 55%;
      }
      &__banner {
        height: 474px;
      }
    }
  }

  .news .header {
    height: 429px;
  }
  .news .header__banner {
    height: 429px;
  }
}

@media only screen and (max-width: 1366px) {
  body {
    &::before {
      background: url(../images/after.png) left -290px top no-repeat;
    }
  }

  body.news::before {
    top: 14% !important;
  }
  .footer {
    background-size: 109%;
  }

  .news .header {
    height: 407px;
  }

  .news .header__banner {
    height: 407px;
  }

  .news .content {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    &::before {
      top: 15%;
    }
    &::after {
      top: 59%;
    }
  }
  .form {
    width: 850px;
    left: calc(50% - 850px / 2);
  }
  .footer {
    background-size: 150%;
  }

  .home .content-body__image {
    width: 100%;
    height: 170px;
  }

  .home .header__title {
    font-size: 50px;
  }

  .home .header__title span {
    font-size: 30px;
  }

  .home .header__banner {
    height: 420px;
  }

  .footer__support a {
    right: 13px;
  }

  .news .header {
    height: 305px;
  }

  .news .header__banner {
    height: 305px;
  }
  .news .header__banner--subtitle {
    font-size: 18px;
    min-width: 685px;
    margin-top: 35px;
  }

  .news .header__banner h2 {
    font-size: 30px;
    margin-top: 15px;
  }

  .news .header__banner h3 {
    font-size: 16px;
  }

  .news .content {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .news .content-paragraph {
    margin-top: 27px;
    margin-bottom: 13px;
  }

  .news .about {
    background-size: 130%;
    padding-bottom: 40px;
  }

  .news .newfeed {
    margin-top: 50px;
    padding-bottom: 10px;
  }
  .news .newfeed__body {
    margin-top: 35px;
  }

  .news .content-main__image img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .form {
    width: 700px;
    left: calc(50% - 700px / 2);
    padding: 30px 20px;
  }

  .form__input .row {
    margin: 0 -10px;
  }

  .form__input .row .col {
    padding: 0 10px;
  }

  .footer {
    background-size: 300%;
    height: 524px;
    margin-top: 290px;
    padding-top: 57px;
  }

  .footer__support {
    margin-top: 45px;
    width: 370px;
    position: relative;
  }
  .footer__support a {
    right: 0;
  }

  .home .content {
    margin-top: 0;
  }

  .home .content-body .row .col:nth-child(odd) {
    .content-body__image {
      &:hover {
        .content-body__image--hover {
          width: 200px;
          left: 0;
          &::after {
            left: 23px;
          }
        }
      }
    }
  }
  .home .content-body__image--hover {
    width: 200px;
    left: 0;
  }

  .home .content-body__image--hover p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .home .content-body__image--hover p span {
    display: block;
    font-size: 13px;
  }

  .news .header {
    background-size: 134%;
  }

  .news .content {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .news .content__title {
    margin-bottom: 40px;
  }

  .news .content-paragraph__text {
    margin-bottom: 20px;
  }

  .news .about {
    background-size: 155%;
  }

  .news .newfeed {
    margin-top: 20px;
  }

  .news .newfeed__body .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .news .newfeed__body .row .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 300px;
    height: 410px;
    left: calc(50% - 300px / 2);
    padding: 15px;
    top: -360px;
    &__input {
      margin-top: 30px;
      .col {
        margin-bottom: 15px;
      }
    }
  }

  .footer__support {
    width: 300px;
  }

  .form__button {
    max-width: 13px auto 0;
  }

  .form__text {
    font-size: 12px;
  }

  .form__input input {
    font-size: 15px;
  }

  .home .content-body .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .home .content-body .row .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__logo {
    left: calc(50% - 280px / 2);
    width: 280px;
    height: 83px;
  }

  .header__logo a {
    line-height: 55px;
  }

  .header__logo a img {
    width: 100px;
  }

  .header__logo::after {
    background-size: 70%;
    top: -6px;
  }

  .home .header:before {
    height: 220px;
    background-position-y: 30%;
  }

  .home .header__banner {
    height: 220px;
  }

  .home .header__title {
    font-size: 20px;
  }

  .home .header__title span {
    font-size: 15px;
  }

  .home .content {
    margin-top: 0;
  }

  .home .content__title {
    font-size: 20px;
  }

  .home .content-filter {
    font-size: 14px;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
  }

  .content-filter__text {
    width: 100%;
  }

  .home .content-filter__select {
    margin-top: 10px;
    width: 160px;
    margin-left: 0;
    margin-right: 0;
  }

  .home .content-filter__select select {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home .content-body {
    margin-top: 24px;
  }

  .home .content-body__image--hover {
    width: 250px;
  }

  .home .content-body__image--hover p {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .home .content-body .row .col:nth-child(odd) {
    .content-body__image {
      &:hover {
        .content-body__image--hover {
          left: 0;
          right: auto;
          width: 250px;
          &::after {
            left: 23px;
          }
        }
      }
    }
  }

  .home .content-body .row .col:nth-child(even) {
    .content-body__image {
      &:hover {
        .content-body__image--hover {
          right: 0;
          left: auto;
          width: 250px;
          &::after {
            right: 23px;
          }
        }
      }
    }
  }

  .home .content-body__image--hover p span {
    display: inline;
  }

  .home .content-body__image {
    margin-bottom: 20px;
  }

  .footer {
    height: 100%;
    background: #22234e;
    margin-top: 390px;
    padding-top: 85px;
    padding-bottom: 30px;
  }

  .footer__info h3 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .footer__info--text {
    font-size: 13px;
  }

  .footer__info--header {
    margin-top: 20px;
    font-size: 14px;
  }

  .footer__info--icon {
    width: 200px;
  }

  .footer__support {
    margin-top: 35px;
  }

  .news .header__banner--subtitle {
    line-height: 48px;
    min-width: 340px;
    font-size: 10px;
  }

  .news .header {
    background-size: 225%;
    height: 245px;
  }

  .news .header__banner {
    height: 245px;
  }

  .news .header__banner--subtitle {
    height: 46px;
    line-height: 40px;
  }

  .news .header__banner h2 {
    font-size: 20px;
  }

  .news .header__banner h3 {
    font-size: 12px;
  }

  .news .content {
    margin-top: 20px;
  }

  .news .content__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .news .content-paragraph {
    margin-top: 17px;
  }

  .news .content-paragraph__text {
    font-size: 14px;
  }

  .news .content-paragraph ul {
    padding-left: 30px;
    margin-left: 0;
    font-size: 14px;
  }

  .news .content-main__image i {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .news .about {
    padding-left: 0;
    background: #f1f1f1;
    padding-bottom: 20px;
  }

  .news .about__title {
    font-size: 20px;
    padding-top: 25px;
  }

  .news .about__body img {
    margin-top: 20px;
  }

  .news .about__text {
    font-size: 14px;
  }

  .news .about__list {
    margin-top: 20px;
    font-size: 15px;
  }

  .news .newfeed__title {
    font-size: 20px;
  }

  .news .newfeed__desc {
    font-size: 14px;
  }

  .news .newfeed__body {
    margin-top: 25px;
  }

  .news .newfeed-item__title {
    font-size: 20px;
  }

  .news .newfeed-item__link {
    margin-top: 15px;
  }

  .news .newfeed-item {
    margin-bottom: 20px;
  }
}
